registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
auto-install-peers=false
strict-peer-dependencies=false
publish-branch=main
engine-strict=true
public-hoist-pattern[]=*@vibewell*
legacy-peer-deps=true 